{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% block content %}
<section id="abouthead">
  <div id="abouthead-heading">
    HI! I'M AHAD EMU
  </div>
  <div id="abouthead-subheading">
    FULL STACK DEVELOPER FROM DHAKA, BANNGLADESH
  </div>
</section>
<div class="text-center mb-3">
  <img class="img img-fluid img-thumbnail"src="{% static 'images/profile.jpg' %}" alt="profile picture" height="300px" width="280px">
</div>
<div class="jumbotron">
  <p>Hi, I am Abul Ahad emu. I am a Professional Web Developer. This is my First Web Site.</p>
</div>
{% endblock %}
