{% extends 'base.html' %}
{% block content %}

<main role="main">
  <section class="text-center">
    <div class="container">
      <h1 class="jumbotron-heading">HI! I'M AHAD</h1>
      <p class="lead text-muted font-italic mt-3 mb-3">I am Ahad Emu. I am professional Full Stack Web Developer.</p>
      <p>
        <a href="mailto:ahademu99@gmail.com" class="btn btn-primary my-2">Email me</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">
      <div class="row">
        {% for item in items %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <a href="{{ item.image.url }}">
              <img class="card-img-top" src="{{ item.image.url }}" alt="portfolio image" height="200" width="200">
            </a>
            <div class="card-body">
              <p class="card-text">{{item.summery}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

{% endblock %}
